.temp {
  color:white;
}

.temporary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  padding-left: 300px;
  background-image: url(../images/slider-gr5.jpg);

  h3 {
    color: white;
  }
}

.temporary__list {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  font-size: 23px;
  line-height: 26px;
  background-color: #066aff;
  width:250px;
  text-align: center;
  border-radius: 20px;
  opacity: 0.8;
}

.temporary__item {
  margin-bottom: 12px;
}

.temporary__item a {
  color: #ffffff;
  transition: ease-in-out 0.2s;
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }
}
