@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

html,
body {
  height: 100%; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Times New Roman', serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*, ::after, ::before {
  box-sizing: border-box; }

h2 {
  font-size: 34px;
  line-height: 41px;
  font-weight: 600; }

.button {
  background-color: #001aeb;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none; }
  .button:hover {
    background-color: #0014B2; }
  .button:active {
    background-color: #001093; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.sign-wrapper {
  display: flex;
  height: 100vh;
  flex-wrap: wrap; }
  @media (max-height: 500px) {
    .sign-wrapper {
      height: auto; } }
  @media (max-height: 590px) {
    .sign-wrapper--up {
      height: auto; } }

.sign {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 25px;
  padding-left: 5.5%;
  padding-right: 3.2%;
  background-color: #066AFF; }
  @media (max-width: 1024px) {
    .sign {
      width: 100%; } }

.sign__header {
  margin-bottom: 20px; }

.sign__header-wrapper {
  display: flex;
  align-items: center; }

.sign__logo {
  margin-right: 8px; }

.sign__header-text {
  margin: 0;
  font-weight: 600;
  color: #ffffff; }

.sign__content {
  margin: auto 0; }

.sign__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 51px;
  color: #ffffff; }
  @media (max-height: 800px) {
    .sign__title {
      margin-bottom: 25px;
      font-size: 35px;
      line-height: 40px; } }

.sign__form {
  overflow: hidden; }

.sign__input-group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 25px; }
  @media (max-height: 800px) {
    .sign__input-group {
      margin-bottom: 15px; } }

.sign__label {
  position: relative;
  display: block;
  margin-bottom: 13px;
  font-weight: 700;
  color: #4AB2FD;
  transition: all 0.5s; }
  @media (max-height: 800px) {
    .sign__label {
      margin-bottom: 5px; } }
  .sign__label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s; }
  .sign__label--email::before {
    bottom: -54px;
    left: 25px;
    background-image: url(../images/icon-email.png); }
    @media (max-height: 800px) {
      .sign__label--email::before {
        bottom: -39px; } }
  .sign__label--password::before {
    bottom: -52px;
    left: 25px;
    background-image: url(../images/icon-password.png); }
    @media (max-height: 800px) {
      .sign__label--password::before {
        bottom: -37px; } }

.sign__input {
  padding: 24px 56px;
  color: #ffffff;
  border: 1px solid #4AB2FD;
  background: transparent;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s; }
  @media (max-height: 800px) {
    .sign__input {
      padding: 17px 56px; } }

.sign__input:focus {
  border: 1px solid #ffffff; }

.sign__input:focus + .sign__label {
  color: #ffffff; }

.sign__input:focus + .sign__label--email::before {
  background-image: url(../images/icon-email-focus.png); }

.sign__input:focus + .sign__label--password::before {
  background-image: url(../images/icon-password-focus.png); }

.sign__input::-webkit-input-placeholder {
  color: #4AB2FD; }

.sign__input::-moz-placeholder {
  color: #4AB2FD; }

/* Firefox 19+ */
.sign__input:-moz-placeholder {
  color: #4AB2FD; }

/* Firefox 18- */
.sign__input:-ms-input-placeholder {
  color: #4AB2FD; }

.sign__forgot-link {
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .sign__forgot-link:hover {
    text-decoration: none; }
  @media (max-height: 800px) {
    .sign__forgot-link {
      margin-bottom: 20px;
      text-transform: initial; } }

.sign__button {
  display: inline-block;
  width: 100%;
  margin-bottom: 45px;
  padding: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #001AEB;
  border-radius: 10px;
  border: none;
  cursor: pointer; }
  .sign__button:hover {
    background-color: #0014B2; }
  .sign__button:active {
    background-color: #001093; }
  @media (max-height: 800px) {
    .sign__button {
      margin-bottom: 30px; } }

.sign__text-up {
  margin: 0;
  margin-bottom: 10px;
  color: #ffffff; }

.sign__text-up a {
  color: #ffffff;
  text-decoration: underline; }
  .sign__text-up a:hover {
    text-decoration: none; }

.sign-sl {
  width: 60%; }
  @media (max-width: 1024px) {
    .sign-sl {
      width: 100%; } }

.sign-sl__block {
  max-width: 455px;
  width: 100%; }

.sign-sl__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff; }

.sign-sl__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline; }

/* slider styles */
.swiper-container {
  height: 100%;
  width: 100%; }

.sign-sl__slide {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  padding-left: 10%;
  padding-right: 20px;
  padding-bottom: 100px;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.sign-sl__slide--first {
  background-image: url(../images/slider-gr1.png); }

.sign-sl__slide--second {
  background-image: url(../images/slider-gr2.png); }

.sign-sl__slide--third {
  background-image: url(../images/slider-gr3.png); }

.sign-sl__slide--fourth {
  background-image: url(../images/slider-gr4.png); }

.sign-sl__slide--fifth {
  background-image: url(../images/slider-gr5.png); }

.sign-sl__button {
  top: auto;
  bottom: 120px;
  background-size: 9px 16px; }
  @media (max-width: 1024px) {
    .sign-sl__button {
      bottom: 30px; } }

.sign-sl__button--prev {
  left: auto;
  right: 150px;
  background-image: url(../images/arrow-left.png); }

.sign-sl__button--next {
  right: 90px;
  background-image: url(../images/arrow-right.png); }

.sign-sl__pagination {
  display: flex;
  justify-content: flex-end;
  bottom: 170px !important;
  padding-right: 52px; }
  @media (max-width: 1024px) {
    .sign-sl__pagination {
      bottom: 80px !important; } }

.sign-sl__pagination .swiper-pagination-bullet {
  width: 25px;
  height: 7px;
  opacity: 1;
  background-color: #737373;
  border-radius: 4px; }

.sign-sl__pagination .swiper-pagination-bullet-active {
  background-color: #ffffff; }

.success {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #066aff; }

.success__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 350px;
  padding: 30px 48px;
  background-color: #ffffff;
  border-radius: 10px; }

.success__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

.success__header-logo {
  margin-right: 8px; }

.success__header-text {
  margin: 0;
  font-weight: 600;
  color: #414141; }

.success__message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  background-color: #066AFF;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 79, 197, 0.5); }

.success__text {
  margin: 0; }

.header {
  height: 120px; }

.header__wrapper {
  display: flex;
  height: 100%; }

.header__logo {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  border-right: 1px solid #EDEEF0;
  border-bottom: 1px solid #EDEEF0; }

.header__notification {
  position: relative;
  width: 112px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #EDEEF0;
  border-left: 1px solid #EDEEF0; }
  .header__notification::before {
    content: "";
    position: absolute;
    top: 35%;
    right: 35%;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border: 2px solid #065BFF;
    border-radius: 50%; }

.header__company {
  min-width: 185px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 32px;
  padding-right: 24px; }

.header__company-icon {
  margin-right: 15px; }

.main-nav {
  width: 120px; }

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  list-style: none; }

.main-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.main-nav__link svg {
  margin-bottom: 8px;
  fill: #C3C7D4; }

.main-nav__link span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #C3C7D4; }

.main-nav__link--active {
  border-right: 4px solid #066AFF; }

.main-nav__link--active svg {
  fill: #066AFF; }

.main-nav__link--active span {
  color: #066AFF; }

.main-nav__link:hover svg {
  fill: #5E9EFF; }

.main-nav__link:hover span {
  color: #5E9EFF; }

.main {
  flex-grow: 1;
  padding: 46px;
  padding-bottom: 0;
  padding-right: 5%;
  background-color: #EEEFF1; }

.main-wrapper {
  display: flex; }

.orders__title {
  margin: 0;
  margin-bottom: 32px; }

.orders__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 26px; }

.orders__filter-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.orders__filter-item:first-child {
  margin-right: 32px; }

.orders__filter-item a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #A0A7B7;
  cursor: pointer; }
  .orders__filter-item a:hover {
    text-decoration: underline; }

.orders__filter-item--active a {
  position: relative;
  color: #19233D; }

.orders__filter-item--active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  height: 2px;
  background-color: #066AFF; }

.orders__search {
  display: flex; }

.orders__search input {
  width: 330px;
  height: 40px;
  margin-right: 4px;
  padding: 11px 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px; }

.orders__search input::-webkit-input-placeholder {
  color: #DCDCDC; }

.orders__search input::-moz-placeholder {
  color: #DCDCDC; }

/*Firefox 19+*/
.orders__search input:-moz-placeholder {
  color: #DCDCDC; }

/*Firefox 18-*/
.orders__search input:-ms-input-placeholder {
  color: #DCDCDC; }

.orders__search-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url(../images/icon-search.png);
  background-repeat: no-repeat;
  background-position: center; }

.orders__line {
  height: 1px;
  background-color: #DEE2ED; }

.orders__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.orders__item {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px; }

.orders__item-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px; }

.orders__item-block--company {
  width: 15%; }

.orders__item-block--order {
  width: 20%; }

.orders__item-block--type {
  width: 20%; }

.orders__item-block--expire {
  width: 10%; }

.orders__item-block--price {
  width: 11%; }

.orders__item-subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #B2B2B2;
  letter-spacing: 0.02em; }

.orders__item-company {
  display: flex; }

.orders__item-company img {
  margin-right: 8px; }

.orders__item-company p {
  margin: 0;
  font-weight: 500; }

.orders__order-text {
  margin: 0; }

.orders__order-type {
  margin: 0;
  font-weight: 500;
  color: #066AFF;
  text-transform: uppercase;
  text-decoration: underline; }

.orders__order-expire {
  margin: 0;
  color: #19233D; }

.orders__order-price {
  margin: 0;
  font-weight: 700;
  color: #066AFF; }

.orders__item-footer {
  display: flex;
  align-items: flex-end;
  position: relative; }

.orders__number {
  margin: 0;
  margin-right: auto;
  font-size: 12px;
  line-height: 15px;
  color: #B2B2B2;
  letter-spacing: 0.02em; }

.orders__button {
  width: 180px;
  margin-right: 16px;
  padding: 13px;
  line-height: 19px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px; }

.orders__show {
  width: 45px;
  height: 45px;
  background-color: #1E85FF;
  border: none;
  border-radius: 5px;
  background-image: url(../images/icon-view.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .orders__show:hover {
    background-color: #066aff; }

.orders__invisible {
  position: absolute;
  right: 10px;
  bottom: -28px;
  margin: 0;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-color: #1E85FF;
  border-radius: 4px;
  box-shadow: 0 0 4px #E2E2E2; }

.footer {
  padding-top: 100px;
  padding-bottom: 24px; }

.footer__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto; }

.footer__info-list {
  display: flex;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none; }

.footer__info-item {
  margin-right: 32px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em; }
  .footer__info-item:last-child {
    margin-right: 0; }
  .footer__info-item a {
    color: #B3B3B3; }
    .footer__info-item a:hover {
      color: #066AFF; }

.footer__social-list {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #C3C7D4;
  border-radius: 3px; }

.footer__social-link i {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff; }

.footer__social-link:hover {
  background-color: #066AFF; }
