.profile__descr-list {
   background-color:  #ffffff;
 }
.profile__item-input {
  width: 100%;
  background-color: #F9F9F9;
  border: none;
  border-radius: 5px;
  outline: none;

  &:focus {
    background-color: #ffffff;
    border: 1px solid #066AFF;
  }
}

.profile__item-input:disabled {
  background-color: #ffffff;
}
