html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Times New Roman', serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h2 {
  font-size: 34px;
  line-height: 41px;
  font-weight: 600;
}

.button {
  background-color: #001aeb;
  padding: 0;
  border: none;
  outline: none;

  &:hover {
    background-color: #0014B2;
  }

  &:active {
    background-color: #001093;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
